<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        <div class="showDesc">
            <h2><%= filename %></h2>
            <p><%= fileData %></p>
            <a class="delTask" href="/file/delete/<%= filename %>">Delete Task!</a>
            <a href="/">Back to Home!</a>
        </div>
    </div>
</body>
</html>